<%images = session[:images]%>

<h2>The Computer has played...it's up to you now...</h2>

<form class="" action="" method="post">

</form>

<div class="grid-container">
  <div class="item1" id="grid_1"
    style="border-bottom: 5px solid white; border-right: 5px solid white;" >
    <img src="<%= images[0] %>" style="width:100px;height:100px;">
  </div>

  <div class="item2"
    style="border-bottom: 5px solid white;">
    <img src="<%= images[1] %>" style="width:100px;height:100px;">
  </div>

  <div class="item3"
    style="border-bottom: 5px solid white;border-left: 5px solid white;">
    <img src="<%= images[2] %>" style="width:100px;height:100px;">
  </div>

  <div class="item4"
    style="border-bottom: 5px solid white; border-right: 5px solid white;">
    <img src="<%= images[3] %>" style="width:100px;height:100px;">
  </div>

  <div class="item5"
    style="border-bottom: 5px solid white;">
    <img src="<%= images[4] %>" style="width:100px;height:100px;">
  </div>

  <div class="item6"
    style="border-bottom: 5px solid white;border-left: 5px solid white;">
    <img src="<%= images[5] %>" style="width:100px;height:100px;">
  </div>

  <div class="item7"
  style="border-right: 5px solid white;">
    <img src="<%= images[6] %>" style="width:100px;height:100px;">
  </div>

  <div class="item8" >
    <img src="<%= images[7] %>" style="width:100px;height:100px;">
  </div>

  <div class="item9"
    style="border-left: 5px solid white;">
    <img src="<%= images[8] %>" style="width:100px;height:100px;">
  </div>

</div>
