<%images = []%>
<%session[:game].board_state.each do |position|%>
  <%if position.is_a?Integer%>
    <%images.push("blank.jpg")%>
  <%elsif position == "X"%>
    <%images.push("x.png")%>
  <%elsif position == "O"%>
    <%images.push("o.png")%>
  <%end%>
<%end%>

<br><br><br>
<div class="grid-container">
  <div class="item1" id="grid_1" onclick="playerMove(1)"
    style="border-bottom: 5px solid white; border-right: 5px solid white;" >
    <img src="<%= images[0] %>" style="width:100px;height:100px;">
  </div>

  <div class="item2" onclick="playerMove(2)"
    style="border-bottom: 5px solid white;">
    <img src="<%= images[1] %>" style="width:100px;height:100px;">
  </div>

  <div class="item3" onclick="playerMove(3)"
    style="border-bottom: 5px solid white;border-left: 5px solid white;">
    <img src="<%= images[2] %>" style="width:100px;height:100px;">
  </div>

  <div class="item4" onclick="playerMove(4)"
    style="border-bottom: 5px solid white; border-right: 5px solid white;">
    <img src="<%= images[3] %>" style="width:100px;height:100px;">
  </div>

  <div class="item5" onclick="playerMove(5)"
    style="border-bottom: 5px solid white;">
    <img src="<%= images[4] %>" style="width:100px;height:100px;">
  </div>

  <div class="item6" onclick="playerMove(6)"
    style="border-bottom: 5px solid white;border-left: 5px solid white;">
    <img src="<%= images[5] %>" style="width:100px;height:100px;">
  </div>

  <div class="item7" onclick="playerMove(7)"
  style="border-right: 5px solid white;">
    <img src="<%= images[6] %>" style="width:100px;height:100px;">
  </div>

  <div class="item8" onclick="playerMove(8)">
    <img src="<%= images[7] %>" style="width:100px;height:100px;">
  </div>

  <div class="item9" onclick="playerMove(9)"
    style="border-left: 5px solid white;">
    <img src="<%= images[8] %>" style="width:100px;height:100px;">
  </div>

</div>


<!-- <h1><%= session[:message1] %></h1> -->

<h2>The score is:</h2><br>

<h2><%=player1_name%>: <%=session[:game].player1.score%></h2>

<h2><%=player2_name%>: <%=session[:game].player2.score%></h2><br>

<form class="" action="again" method="get">
  <input type="submit" name="" value="Play Again">

  <input type="hidden" name="player1_name" value = "<%= player1_name %>">
  <input type="hidden" name="player2_name" value = "<%= player2_name %>">
  <!-- <input type="hidden" name="difficulty" value = "<%= difficulty %>"> -->
</form>

<form class="" action="/" method="get">
  <input type="submit" name="" value="Start Over">
</form>
